@import "tailwindcss";

@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;
    scrollbar-gutter: stable;
  }
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-gutter: stable;
  }
}

body {
  margin: 0;
}

html {
  overscroll-behavior: none;
}